/*



  #f0f0f0;


*/


body {

 	height: 800px;
	background-color: #b28193;
 /* -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  text-align: left;
  color: #666;
  width: auto !important;
  width: 100%;
  min-width: 768px;*/
  font-family: Lato,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/*

.top{
	text-align: center;
}

.container{
	
	
}*/



school 4

html{
  background-color: #b28193;
}
  
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 3rem;
  background-color: #a34d65;
  overflow: hidden;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-property: all;
}
nav:hover{
  height: 19rem;
}

header {
  position: fixed;
  top: 0;
  left: 0.5rem;
  height: 3rem;
  width:80%;
  line-height: 3rem;
  font-size: 2rem;
  color: black;
}

.btn{
  float: right;
  height: 3rem;
  width: 3.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
   background-color: #fff;
}

ul{
  margin-top: 3rem;
  border-top: 2px solid #fff;
}
li{
  border-bottom: 2px solid #fff;
}
li a{
  display: block;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
}
li a:hover{
  background-color: #d23256;
}

school5

<!DOCTYPE html>
<html>
<head>
  <title>TOP CAREER 企業検索</title>
<!--  <link rel="stylesheet" type="text/css" href="common.css">
 -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
<!-- HTML5 Element -->
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
< ![endif]-->
<style type="text/css">

nav{
  width: 1024px;
  margin: 0 auto;
  background-color: purple;
  
}
ul{
  overflow: hidden;
  width: 1008px;
  margin: 0 auto;
}
li{
  background-color: #fff;
  width: 200px;
  float: left;
  margin-right: 2px;
}
li:last-child{
  margin-right: 0;
}
a{
  display: block;
  background-color: #fcf3f8;
  text-align: center;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  transition-duration: 0.5s;
  transition-property: all;
}
a:hover{
  background-color: #66D9EF;
  -webkit-transform: rotateX(100deg);
  -webkit-transform: rotateY(20deg);
  -webkit-transform: rotateZ(5deg);
}


</style>
</head>
<body>
<!-- <div class="top"><img src="img/top.jpg" alt=""></div> -->


<nav>

  <ul>
    <li><a href="#nowhere" title="Lorum ipsum dolor sit amet">Lorem</a></li>
    <li><a href="#nowhere" title="Aliquam tincidunt mauris eu risus">Aliquam</a></li>
    <li><a href="#nowhere" title="Morbi in sem quis dui placerat ornare">Morbi</a></li>
    <li><a href="#nowhere" title="Praesent dapibus, neque id cursus faucibus">Praesent</a></li>
    <li><a href="#nowhere" title="Pellentesque fermentum dolor">Pellentesque</a></li>
  </ul>
</nav>




</body>
</html>
